button {
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-color: #A149FA;
  border-radius: 69px 69px 69px 69px;
  -webkit-border-radius: 69px 69px 69px 69px;
  -moz-border-radius: 69px 69px 69px 69px;
  padding: 10px;
}
